@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,600");

$base-font-size: 16px;
$primary-font-stack: "Roboto", sans-serif !default;

// Colors
$white: #fafafa !default;
$black: #111 !default;
$light-grey: #dfe6e9 !default;
$dark-grey: #2d3436 !default;
